<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.MyPageMapper">

	<!-- 장바구니 -->
	<!-- 장바구니에 담긴 상품 수 세어오기 -->
	<select id="selectCountCart" resultType="int">
		SELECT Count(*)
		FROM   cart
		WHERE  user_id = #{user_id}
		       AND bundle_code = #{bundle_code}
		       AND states = '장바구니' 
	</select>
	
	<!-- 장바구니 목록 가져오기 -->
	<select id="selectCartList" resultType="CartVO">
		SELECT c.*,
		       prdc.*
		FROM   cart c
		       JOIN (SELECT s.store_code,
		                    s.store_name,
		                    p.product_code,
		                    p.product_name,
		                    p.img1,
		                    p.max_account
		             FROM   product p
		                    JOIN store s
		                      ON p.store_code = s.store_code) prdc
		         ON c.product_code = prdc.product_code
		WHERE  user_id = #{user_id}
		       AND bundle_code = #{bundle_code}
		       AND states = '장바구니' 
	</select>
	
	<!-- 장바구니 상품 수량 변경 -->
	<update id="updateProductCount">
		UPDATE cart
		SET    count = #{count}
		WHERE  cart_code = #{cart_code} 
	</update>
	
	<!-- 장바구니 상품 삭제 -->
	<delete id="deleteCartProduct">
		DELETE FROM cart
		WHERE  cart_code = #{cart_code} 
	</delete>
	
	<!-- 장바구니 비우기 -->
	<delete id="deleteCart">
		DELETE FROM cart
		WHERE  user_id = #{user_id}
		       AND bundle_code = #{bundle_code}
		       AND states = '장바구니' 
	</delete>
	
	<!-- 주문내역-->
	<!-- 주문내역 리스트 -->
	<select id="selectUserOrderList" resultType="OrderInfoVO">
		<![CDATA[
		SELECT o.user_id,
		       o.ordr_date,
		       o.order_code,
		       o.bundle_code,
		       o.store_code,
		       A.store_name,
		       A.img1,
		       A.product_code,
		       A.product_name,
		       o.total_price,
		       A.states
		FROM   order_info o
		       JOIN (SELECT p.product_code,
		                    p.product_name,
		                    p.img1,
		                    s.store_code,
		                    s.store_name,
		                    c.user_id,
		                    c.bundle_code,
		                    c.states
		             FROM   product p
		                    JOIN store s
		                      ON p.store_code = s.store_code
		                    JOIN cart c
		                      ON p.product_code = c.product_code) A
		         ON o.user_id = A.user_id
		WHERE  o.user_id = #{user_id}
		       AND A.states NOT IN ('장바구니')
		]]>
		<if test="startDate != null and endDate != null">
			AND o.ordr_date between #{startDate} and #{endDate}
		</if>
		<if test="states != null">
			AND c.states = #{states}
		</if> 
	</select>
	
	<!-- 주문내역 갯수 -->
	<select id="selectCountOrder" resultType="int">
		SELECT Count(*)
		FROM   order_info o
		       JOIN cart c
		         ON o.bundle_code = c.bundle_code
		WHERE  o.user_id = #{user_id}
		       AND c.states NOT IN ('장바구니')  
	</select>
	
	<!-- 주문 상세 정보 -->
	<select id="selectOrderInfo" resultType="OrderInfoVO">
		SELECT u.user_name,
		       o.*
		FROM   order_info o
		       JOIN USER u
		         ON o.user_id = u.user_id
		WHERE  order_code = # {order_code}  
	</select>
	
	<!-- 주문 상품 정보 -->
	<select id="selectOrderProduct" resultType="CartVO">
		SELECT s.store_code,
		       s.store_name,
		       p.product_code,
		       p.product_name,
		       p.img1,
		       A.*
		FROM   product p
		       JOIN (SELECT c.*
		             FROM   cart c
		                    JOIN order_info o
		                      ON c.bundle_code = o.bundle_code) A
		         ON p.product_code = A.product_code
		       JOIN store s
		         ON p.store_code = s.store_code
		WHERE  order_code = #{order_code} 
	</select>
	
	


</mapper>