<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.OrderMapper">

	<!-- 적립금 가져오기 -->
	<select id="selectUserPoint" resultType="String">
		select point from user where user_id =#{user_id}
	</select>

	<!-- 주문 할 상품 정보 가져오기 -->
	<select id="selectProductInfo" resultType="CartVO">
		SELECT c.*,
		       prdc.*
		FROM   cart c
		       JOIN (SELECT s.store_code,
		                    s.store_name,
		                    p.product_code,
		                    p.product_name,
		                    p.img1,
		                    p.max_account
		             FROM   product p
		                    JOIN store s
		                      ON p.store_code = s.store_code) prdc
		         ON c.product_code = prdc.product_code
		WHERE  cart_code = #{cart_code}
	</select>
	
	<!-- 장바구니에 담긴 상품 수 세어오기 -->
	<select id="selectCountCart" resultType="int">
		SELECT Count(*)
		FROM   cart
		WHERE  user_id = #{user_id}
		       AND bundle_code = #{bundle_code}
		       AND states = '장바구니' 
	</select>
	
	<!-- 장바구니 목록 가져오기 -->
	<select id="selectCartList" resultType="CartVO">
		SELECT c.*,
		       prdc.*
		FROM   cart c
		       JOIN (SELECT s.store_code,
		                    s.store_name,
		                    p.product_code,
		                    p.product_name,
		                    p.img1,
		                    p.max_account
		             FROM   product p
		                    JOIN store s
		                      ON p.store_code = s.store_code) prdc
		         ON c.product_code = prdc.product_code
		WHERE  user_id = #{user_id}
		       AND bundle_code = #{bundle_code}
		       AND states = '장바구니' 
	</select>
	
	<!-- 주문 번호 최대값 가져오기 -->
	<select id="selectMaxOrderCode" resultType="int">
		SELECT Ifnull(Max(order_code), 0) AS order_code
		FROM   order_info
		WHERE  LEFT(order_code, 6) = Date_format(Curdate(), '%y%m%d') 
	</select>
	
	<!-- 주문정보 입력 -->
	<insert id="insertOrderInfo">
		INSERT INTO order_info
		            (order_code,
		             user_id,
		             bundle_code,
		             store_code,
		             ordr_date,
		             rcv_zip,
		             rcv_name,
		             rcv_phone,
		             rcv_addr1,
		             rcv_addr2,
		             rcv_msg,
		             pay_method,
		             delivery_fee,
		             point,
		             cal_check,
		             reservation,
		             reduce_point,
		             add_point)
		VALUES     ( #{order_code},
		             #{user_id},
		             #{bundle_code},
		             #{store_code},
		             Now(),
		             #{rcv_zip},
		             #{rcv_name},
		             #{rcv_phone},
		             #{rcv_addr1},
		             #{rcv_addr2},
		             #{rcv_msg},
		             #{pay_method},
		             #{delivery_fee},
		             #{point},
		             'N',
		             #{reservation},
		             #{reduce_point},
		             #{add_point}) 
	</insert>
	
	<!-- cart 주문 상태 변경  -->
	<update id="updateStates">
		UPDATE cart
		SET    states='결제완료'
		WHERE  bundle_code=#{bundle_code}
	</update>
	
	<!-- 주문성공 -->
	<select id="selectOrderInfo" resultType="OrderInfoVO">
		select * from order_info where order_code=#{order_code}
	</select>
	

</mapper>