<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.UserMapper">
	<resultMap type="com.itwillbs.domain.UserVO" id="userMap">
		<result property="user_id" column="user_id"/>
		<result property="user_pw" column="user_pw"/>
		<result property="salt" column="salt"/>
		<result property="phone" column="phone"/>
		<result property="user_name" column="user_name"/>
		<result property="addr1" column="addr1"/>
		<result property="addr2" column="addr2"/>
		<result property="sns_email" column="sns_email"/>
		<result property="point" column="point"/>
		<result property="identity" column="identity"/>
		<result property="regdate" column="regdate"/>
		<result property="auth" column="auth"/>
	</resultMap>

	<resultMap type="com.itwillbs.domain.AuthVO" id="authMap">
		<result property="user_id" column="user_id"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<!-- 회원가입 -->
	<insert id="insertUser">
		insert into user(user_id, user_pw, phone, user_name, addr1, addr2, regdate) 
		values (#{user_id}, #{user_pw}, #{phone}, #{user_name}, #{addr1}, #{addr2}, now())
	</insert>
	<!-- 회원가입 하면서 권한주기 -->
	<insert id="authUser">
		insert into user_auth (user_id, auth) 
		value (#{user_id}, 'ROLE_USER')
	</insert>
	
	<select id="loginUser" resultType="com.itwillbs.domain.UserVO">
		select * from user 
		where user_id = #{user_id} and user_pw = #{user_pw}
	</select>
	
	<select id="getAuth" resultMap="authMap">
		select * from user_auth 
		where user_id = #{user_id}
	</select>
	
	<select id="getUser" resultMap="userMap">
		select u.user_id, u.user_pw, u.phone, u.user_name, u.addr1, u.addr2, u.point, u.identity, u.regdate, a.auth 
		from user u
		left join user_auth a 
		on u.user_id = a.user_id 
		where u.user_id = #{user_id}
	</select>
	
	<!-- 시장정보 가져오기(메인) -->
	<select id="getMarket" resultType="com.itwillbs.domain.MarketVO">
		select * from market
	</select>
	
	<select id="getMarketCode" resultType="com.itwillbs.domain.MarketVO">
		select * from market where market_code = #{market_code}
	</select>
	
	<!-- 회원정보 조회-->
	<select id="userInfo" resultType="com.itwillbs.domain.UserVO">
		select * from user 
		where user_id = #{user_id}
	</select>
	<!-- 회원정보 수정 -->
	<update id="updateUser">
		update user u, user_auth a 
		set u.phone=#{phone}, u.user_name=#{user_name}, u.addr1=#{addr1}, u.addr2=#{addr2}, u.update_date=now() 
		where u.user_id=#{user_id} and a.user_id=#{user_id}
	</update>
	<!-- 회원 비밀번호 조회 -->
	<select id="getPass" resultType="string">
		select user_pw from user 
		where user_id = #{user_id}
	</select>
	<!-- 회원정보 삭제 -->
	<!-- 삭제할때 auth정보랑 같이 삭제, join 써서 user_id가 같은 사람, 해시 값으로 변환? -->
	<delete id="deleteUser">
		delete from user 
		where user_id = #{user_id} and user_pw = #{user_pw}
	</delete>
	
	
	
	
	
	
	
</mapper>