<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.userMapper">
	
	<!-- 회원가입 -->
	<insert id="insertUser">
		insert into user(user_id, user_pw, salt, phone, user_name, addr1, addr2, regdate) 
		values (#{user_id}, #{user_pw}, #{salt}, #{phone}, #{user_name}, #{addr1}, #{addr2}, now())
	</insert>
	
	<select id="getSalt" resultType="string">
		select salt from user 
		where user_id = #{user_id}
	</select>
	
	<select id="loginUser" resultType="com.itwillbs.domain.UserVO">
		select * from user 
		where user_id = #{user_id}, user_pw = #{user_pw}
	</select>
	
</mapper>